<section>
  <div class="container">
    <div>
      <div>
        <h1 class="logo">Mimiho</h1>
        <h2>Ресторанно-готельний комплекс</h2>
        <p>смак життя 24/7</p>
      </div>

      <div>
        <ul class="list">
          <li>
            <button
              class="btn-transparent js-open-modal"
              type="button"
              data-modal="bookTable"
            >
              Забронювати столик
            </button>
          </li>
          <li>
            <button type="button" data-modal="bookRoom">
              Забронювати номер
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <address>
        <a
          href="https://goo.gl/maps/LqPzEGcC2Cw2mZnc9"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="link"
        >
          <div>
            <svg width="20" height="20" class="adress__icon">
              <use href="./images/icons/icon.svg#icon-location"></use>
            </svg>
          </div>
          <p>
            Україна, м. Полтава,
            <span class="adress__textpart">вул. Маршала Бірюзова, 15</span>
          </p>
        </a>
      </address>
    </div>

    <div>
      <ul class="list">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg width="24" height="24">
              <use href="./images/icons/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg width="24" height="24">
              <use href="./images/icons/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://web.telegram.org"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg width="24" height="24">
              <use href="./images/icons/icon.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
